@import '../../ui-kit/main.scss';

.collaborations{

  &__icon {
    &:before{
      color: $ui-color-feather;
      font-size: 180px;
    }
  }
  &__bg-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px
  }
}